{% extends 'project_members/base.html' %} {% block content %}
<div class="container col-sm-7 mt-3">
	<h1>Создание карточки</h1>
	<form
		action="{% url 'createpcard' %}"
		method="post"
		enctype="multipart/form-data"
	>
		{% csrf_token %}
		<div class="mb-3">
			<label for="titleInput" class="form-label">Заголовок карточки</label>
			{{ form.title }}
		</div>
		<div class="mb-3">
			<label for="contetntTextarea" class="form-label">Описание</label>
			{{ form.content }}
		</div>
		<div class="mb-3 form-check">
			{{ form.is_published }}
			<label class="form-check-label" for="isPublishedCheckbox"
				>Опубликовать</label
			>
		</div>
		<button type="submit" class="btn btn-primary crbtn">Создать</button>
	</form>
</div>
{% endblock %}
